<%##レスポンス（PC）%>
<nav class="header">
  <div class="header_logo">
    <a href="/">MUSUBI</a>
  </div>

  <div class="header_menus">

    <% if user_signed_in? %>
      <div class="header_menu">
          <%= link_to "#{current_user.human_name}さん", user_path(current_user) %>
      </div>
    <% else %>
      <div class="header_menu">
          <%= link_to "ログイン", new_user_session_path %>
      </div>
    <% end %>


    <div class="header_menu">
        <%= link_to "商品一覧", products_path %>
    </div>

    <div class="header_menu">
          <i class="far fa-envelope"></i>
        <%= link_to "お問い合わせ", new_contact_path %>
        </a>
    </div>

  </div>

</nav>

<%##レスポンス（スマホ）%>
<div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

<nav class="header_sm">
  <div class="header_logo">
    <a href="/">MUSUBI</a>
  </div>
</nav>

<nav class="globalMenuSp">
    <ul>
        <% if user_signed_in? %>
          <li><i class="fas fa-user-alt"></i><%= link_to "#{current_user.human_name}さん", user_path(current_user) %></li>
        <% else %>
          <li><i class="fas fa-sign-in-alt"></i></i><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
        <li><i class="fas fa-gifts"></i><%= link_to "商品一覧", products_path %></li>
        <li><i class="fas fa-headset"></i><a href="#">お問い合わせ</a></li>
    </ul>
</nav>


<%= javascript_pack_tag "shared/header" %>