<%##レスポンス（PC）%>
<nav class="header">
  <div class="header_logo">
    <a href="/">MUSUBI</a>
  </div>

  <div class="header_menus">

    <% if user_signed_in? %>
      <div class="header_menu">
          <%= link_to "#{current_user.human_name}さん", edit_user_registration_path %>
      </div>
    <% else %>
      <div class="header_menu">
          <%= link_to "ログイン", new_user_session_path %>
      </div>
    <% end %>


    <div class="header_menu">
        <%= link_to "商品一覧", products_path %>
    </div>

    <div class="header_menu">
        <a href="/">
          <i class="far fa-envelope"></i>
          お問い合わせ
        </a>
    </div>

  </div>

</nav>

<%##レスポンス（スマホ）%>
<div class="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

<nav class="header_sm">
  <div class="header_logo">
    <a href="/">MUSUBI</a>
  </div>
</nav>

<nav class="globalMenuSp">
    <ul>
        <li><i class="fas fa-building"></i><%= link_to "招待する", invitation_homes_path %></li>
        <li><i class="fas fa-gift"></i><%= link_to "ログイン", new_user_session_path %></li>
        <li><i class="far fa-id-card"></i><%= link_to "商品一覧", products_path %></li>
        <li><i class="fas fa-headset"></i><a href="#">お問い合わせ</a></li>
    </ul>
</nav>


<%= javascript_pack_tag "shared/header" %>