<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>

  <div class="registration_new_field">

  <div class="registration_new_field">

    <div class="registration_new_field_alert">
      <% if @company.errors.include?(:email) %>
      <p class="alert_danger" style=" color: red;">
        <%= @company.errors.full_messages_for(:email).first %>
      <% end %>
    </div>

    <div class="registration_new_field_main">
      <div class="registration_new_field_main_title">
        <%= f.label :email, "代表者のメールアドレス" %>
        <span>必須</span>
      </div>
      <div class="registration_new_field_main_enter">
        <%= f.email_field :email %>
        <p>例）musubi@gmail.com</p>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= f.submit t("devise.invitations.new.submit_button") %>
  </div>
<% end %>
