<%= render partial: 'shared/product_header' %>

<div class="module-spacer--large"></div>
<div class="module-spacer--small"></div>

<nav class="order_confirm_content">
    
    <div class="order_confirm_title">
        <p>ご購入内容確認</p>
    </div>
    
    <div class="module-spacer--medium"></div>

    <%= form_with model: @order, url: orders_path, class:"order_confirm_items", local: true do |f| %>

        <div class="order_confirm_item">
            <div class="order_confirm_item_title">
                <p>１.　ご請求金額</p>
            </div>
            <div class="order_confirm_item_context">
                <div class="order_confirm_item_context_sub">
                    <p>商品の小計：</p>
                    <p>¥<%= @cart_total_price.to_s(:delimited) %></p>
                </div>
                <div class="order_confirm_item_context_sub">
                    <p>配送料・手数料：</p>
                    <p>¥<%= @ship_fee.to_s(:delimited) %></p>
                </div>
                <div class="order_confirm_item_context_sub">
                    <p>ご請求金額：</p>
                    <p>¥<%= @billing_amount.to_s(:delimited) %></p>
                </div>
            </div>
        </div>

        <div class="order_confirm_item">
            <div class="order_confirm_item_title">
                <p>２.　お届け先</p>
            </div>
            <div class="order_confirm_item_context">

                <p>お届け先を変更する場合は<%= link_to "お客様情報", user_path(current_user) %>を変更下さい</p>

                <div class="module-spacer--small"></div>

                <p><%= current_user.human_name %> 様</p>
                <p>TEL：<%= current_user.phone_number %></p>
                <p>〒 <%= current_user.postal_code %></p>
                <p>住所：<%= current_user.address %></p>
            </div>
        </div>

        <div class="order_confirm_item">
            <div class="order_confirm_item_title">
                <p>３.　お支払い方法</p>
            </div>

            <div class="order_confirm_item_context">
                <div class="order_confirm_item_context_pay_type_1">
                    <%= f.radio_button :pay_type, "クレジットカード払い", checked: "checked" %>
                    <%= f.label :pay_type, "クレジットカード払い ※1", for: "pay_type_クレジットカード払い" %>
                    <% if @card %>
                        <p>カード情報</p>
                        <p><%= "**** **** **** " + @card[:last4] %></p>
                        <p><%= @card[:exp_month] %>/<%= @card[:exp_year] %></p>
                    <% else %>
                        <p>カード情報が未登録です。</p>
                    <% end %>
                </div>

                <div class="module-spacer--small"></div>
                
                <div class="order_confirm_item_context_pay_type_2">
                    <%= f.radio_button :pay_type, "銀行振込" %>
                    <%= f.label :pay_type, "銀行振込 ※2", for: "pay_type_銀行振込" %>
                </div>
                <div class="module-spacer--small"></div>
                <p class="annotation">※1 カード情報の登録、変更は<%=link_to "こちらから", user_path(current_user) %></p>
                <p class="annotation">※2 注文確定後、受信メールに記載の口座にお振込下さい。確認後、商品を発送致します。</p>
            </div>
        </div>

        <div class="module-spacer--medium"></div>

        <div class="order_confirm_register">
            <%= f.submit '注文を確定する' %>
            <%= link_to "カートに戻る", carts_show_path, method: :get %>
        </div>

    <% end %>

    <div class="module-spacer--large"></div>

</nav>

<div class="module-spacer--large"></div>

<%= render partial: 'shared/footer' %>
