<%= render partial: 'shared/company_header' %>

<div class="company_explain_content">
    <p class="company_explain_title" data-en="Agency">代理店説明</p>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_1.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_2.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_3.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <p class="company_explain_title" data-en="Products">商品のご紹介</p>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_4.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_5.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_6.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_7.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_8.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_9.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_10.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_11.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
    <div class="module-spacer--large"></div>
    <%= image_tag "explain_agency_12.png", alt: "代理店契約の説明", class: "explain_agency_img" %>
</div>