<%= render partial: 'shared/company_header' %>

<nav class="company_show_content">
    <nav class="home_commition_container">

        <div class="home_commition_title">
            <h2 class="heading06" data-en="Point"><%= current_company.agency_name %> 様<br class="tb_br sm_br">保有ポイント</h2>
        </div>

        <div class="module-spacer--medium"></div>

        <div class="home_commition_point">
            <p><%= current_company.point %>pt</p>
        </div>

        <div class="module-spacer--large"></div>
    
        <div class="home_commition_title">
            <h2 class="heading06" data-en="Histroy">履歴</h2>
        </div>

        <div class="module-spacer--medium"></div>

        <div class="home_commition_search">
            <%= form_with(scope: :search, url: point_index_companies_path, method: :get, local: true) do |f| %>
                <div class="home_commition_search_form">
                    <%= f.select :year, {"2022":2022,"2023":2023,"2024":2024,"2025":2025,"2026":2026,"2027":2027,"2028":2028,"2029":2029,"2030":2030}, selected: @search_params[:year], value: @search_params[:year] %>年
                    <%= f.select :month,  {"1":1,"2":2,"3":3,"4":4,"5":5,"6":6,"7":7,"8":8,"9":9,"10":10, "11":11, "12":12}, selected: @search_params[:month], value: @search_params[:month] %>月
                </div>
                <div class="module-spacer--medium"></div>
                <div class="home_commition_search_btn">
                    <div class="home_commition_search_search_btn">
                        <%= f.submit '検索' %>
                    </div>
                    <div class="home_commition_search_reset_btn">
                        <%= link_to 'リセット', point_index_companies_path %>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="module-spacer--medium"></div>

        <% if @commitions.present? %>
            <% @commitions.each do |commition| %>
                <div class="home_commition_items">
                    <div class="home_commition_item">
                        <span>日付：</span>
                        <span><%= commition.created_at.strftime('%Y/%m/%d') %></span>
                    </div>
                    <div class="home_commition_item">
                        <span>購入者：</span>
                        <span><%= Order.find(commition.order_id).human_name %>様</span>
                    </div>
                    <div class="home_commition_item">
                        <span>ポイント推移：</span>
                        <span><br class="sm_br"><%= commition.company_has_point.round(2) %> → <%= (commition.company_has_point + commition.add_point).round(2) %>pt (<%= commition.add_point.round(2) %>pt)</span>
                    </div>
                    <div class="home_commition_item">
                        <span>報酬額：</span>
                        <span>¥<%= commition.reward_amount.to_s(:delimited) %></span>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p class="home_commition_nothing">まだポイントを獲得しておりません</p>
        <% end %>

        <div class="module-spacer--medium"></div>
        
    </nav>
</nav>