<% content_for(:html_title) { "お客様招待画面" } %>

<%= render partial: 'shared/company_header' %>

<nav class="company_show_content">

    <%= form_with url: homes_send_user_invitation_email_path, class: 'registration_new_fields', method: :post, local: true do |f| %>

        <h2 class="registration_new_title heading06" data-en="Invitation">お客さま招待画面</h2>
        <p class= "registration_new_title_sub">商品を購入したいお客様へ<br class="sm_br">代理店コードを発行します</p>

        <div class="module-spacer--medium"></div>

        <div class="registration_new_field">

            <div class="registration_new_field_main">
                <div class="registration_new_field_main_title">
                    <%= f.label :email, "メールアドレス" %>
                </div>
                <div class="registration_new_field_main_enter">
                    <%= f.email_field :email, autofocus: true %>
                </div>
            </div>

        </div>

        <div class="module-spacer--small"></div>

        <div class="registration_new_field_button invitation_button">
            <%= f.button :type => "submit" do %>
                <i class="fas fa-child"></i>
                <span>招待する</span>
            <% end %>
        </div>

    <% end %>
</nav>