<%= render partial: 'shared/header' %>
 
<nav class="home_sdgs_container">

    <div class="home_sdgs_title">
        <h1>持続可能な開発目標<br class="sm_br tb_br">（SDGs）への取り組み</h1>
    </div>
    <div class="home_sdgs_img">
        <%= image_tag "sdgs_logo.png", alt: "SDGsロゴ" %>
    </div>
    <div class="home_sdgs_philosophy">
        <p>
            SDGs（エスディージーズ）は、自分、自社、自国だけの利益を追求するのではなく、地球規模で発展し続ける世の中を創るため、世界全体で取り組んでいる事業です。
            名和株式会社では、経営理念である「いい会社を創りましょう　自分ために、みんなの力で」が示すように、みんなが力をあわせて創り出す未来は、結果として自分のために繋がると考え、みんなでよりよい未来創りにつなげていきます。
        </p>
    </div>
    <div class="home_sdgs_about">
        <p>持続可能な開発目標（SDGs）とは</p>
        <div class="module-spacer--medium"></div>
        <p>
            「持続可能な開発目標 （Sustainable Development Goals）」：通称「SDGs」は、17のグローバル目標と169のターゲットからなる、国連の開発目標です。
            気候変動や生物多様性、エネルギーなど、持続可能な社会をつくるために世界が一致して取り組むべきビジョンや課題が網羅されています。
            日本を含む国連加盟国193か国は 2030年までの15年間を取り組み期間と定め、官公庁・企業・教育機関が中心となり取組みを行っています。
        </p>
        <div class="module-spacer--medium"></div>
        <%= image_tag "sdgs_icons.png", alt: "SDGsロゴ" %>
    </div>

    <div class="home_sdgs_certified">
        <p>株式会社むすびはSDGsの認証を受けております</p>
        <div class="module-spacer--medium"></div>
        <p>
            当社のSDGsへの取り組みは、一般社団法人全国専門能力検定協会SDGｓ認定機構から認定を受けております。
        </p>
        <div class="module-spacer--small"></div>
        <%= image_tag "sdgs_certified.png", alt: "SDGsロゴ" %>
    </div>
    
    <div class="home_sdgs_actions">
        <p>具体的な取り組み</p>
        <div class="module-spacer--small"></div>
        <p>この17個のターゲットの中から、弊社で取り組んでいる事業についてご紹介いたします。</p>
        <div class="module-spacer--small"></div>
        
        <div class="home_sdgs_action">
            <div class="home_sdgs_action_title">
                <p>１. 消毒液販売</p>
            </div>
            <div class="home_sdgs_action_describe">
                <p>昨今のコロナウイルス渦で非常に重要となる感染予防に焦点を当て、当社では高ウイルス殺菌率、また一度の使用で長時間の殺菌効果が持続できる消毒液を拡販しております。</p>
            </div>
            <div class="home_sdgs_action_img">
                <%= image_tag "sdgs_logo_3.png", alt: "SDGsロゴ" %>
            </div>
        </div>

        <div class="home_sdgs_action">
            <div class="home_sdgs_action_title">
                <p>２. 就労継続支援事業所との共同事業</p>
            </div>
            <div class="home_sdgs_action_describe">
                <p>就労継続支援B型の事業所と連携し、一連の販売作業（在庫管理〜発送手配）を障がいを持った方たちに一任し、不平等の無い誰もが働きがいを持てる環境への取り組みに努めております。</p>
            </div>
            <div class="home_sdgs_action_img">
                <%= image_tag "sdgs_logo_8.png", alt: "SDGsロゴ" %>
                <%= image_tag "sdgs_logo_10.png", alt: "SDGsロゴ" %>
                <%= image_tag "sdgs_logo_16.png", alt: "SDGsロゴ" %>
            </div>
        </div>

    </div>

</nav>

<%= render partial: 'shared/footer' %>