<%= render partial: 'shared/header' %>
 
<nav class="product_introduction_show_container">

    <picture>
        <source srcset="<%= image_path("dha_epa_supplement_1.webp") %>" type="image/webp">
        <%= image_tag "dha_epa_supplement_1.png", alt: "商品の説明資料", class: "product_introduction_show_img" %>
    </picture>

    <div class="module-spacer--medium"></div>

    <picture>
        <source srcset="<%= image_path("dha_epa_supplement_2.webp") %>" type="image/webp">
        <%= image_tag "dha_epa_supplement_2.png", alt: "商品の説明資料", class: "product_introduction_show_img" %>
    </picture>

    <div class="module-spacer--medium"></div>
    <picture>
        <source srcset="<%= image_path("dha_epa_supplement_3.webp") %>" type="image/webp">
        <%= image_tag "dha_epa_supplement_3.png", alt: "商品の説明資料", class: "product_introduction_show_img" %>
    </picture>

    <div class="module-spacer--medium"></div>

</nav>

<%= render partial: 'shared/footer' %>