<% content_for(:html_title) { @product.product_name } %>

<%= render partial: 'shared/product_header' %>

<div class="module-spacer--large"></div>
<div class="module-spacer--small"></div>

<nav class="product_show_content">

    <div class="product_show_img sliderArea">
        <div class="regular slider">
            <% if @product.images.attached? %>
                <% @product.images.each do |image| %>
                    <div><%= image_tag image, alt: "商品の画像" %></div>
                <% end %>
            <% else %>
                <div><%= image_tag "no_image.jpg", class: "no_image", alt: "ノーイメージ" %></div>
            <% end %>
        </div>
    </div>

    <div class="product_show_context">

        <div class="product_show_title">
            <p><%=@product.product_name %></p>
        </div>

        <div class="module-spacer--small"></div>

        <div class="product_show_price">
            <p>¥<%=(@product.price*@tax).floor(0).to_s(:delimited) %></p>
        </div>

        <div class="module-spacer--small"></div>

        <div class="product_show_buy">

            <%= form_with url: carts_add_cart_path, method: :post, local: true do |f| %>
                <div class="product_show_buy_button">
                    <%= f.label :quantity, "購入個数", class: "pur-number-box"%>
                    <button class="button_minus clay">-</button>
                    <%= f.text_field :quantity, :value =>1, class:"textbox" %>
                    <button class="button_plus clay">+</button>
                    <%= hidden_field_tag :product_id, @product.id %>
                </div>
                <div class="module-spacer--medium"></div>
                <div class="product_show_buy_cart">
                    <%= f.button :type => "submit", style: 'cart-button' do %>
                        <i class="fas fa-shopping-cart"></i>
                        <span>カートへ入れる</span>
                    <% end %>
                </div>
            <% end %>

        </div>

        <div class="module-spacer--medium"></div>

        <% if @product.product_link.present? %>
            <div class="product_show_link">
                <a href="<%= @product.product_link %>">商品詳細はこちら</a>
            </div>
        <% end %>

        <div class="module-spacer--medium"></div>

        <div class="product_show_description">
            <p><%=safe_join(@product.description.split("\n"),tag(:br))%></p>
        </div>
    
    </div>

</nav>

<div class="module-spacer--large"></div>

<%= render partial: 'shared/footer' %>
<%= javascript_pack_tag 'shared/counter' %>