<% content_for(:html_title) { "お客様情報登録確認" } %>

<%= render partial: 'shared/header' %>

<div class="registration_new_content">

  <div class="registration_new_fields">

    <h2 class="registration_new_title heading06" data-en="Confirm">確認画面</h2>
    <p class= "registration_new_title_sub">- 内容をご確認下さい -</p>


    <div class="module-spacer--medium"></div>

    <div class="registration_new_field">

      <div class="registration_new_field_main">
        <div class="registration_new_field_main_title">
          <label>お名前</label>
          <span>必須</span>
        </div>
        <div class="registration_new_field_main_enter">
          <%= @user.human_name %>
        </div>
      </div>

    </div>

    <div class="module-spacer--medium"></div>

    <div class="registration_new_field">

      <div class="registration_new_field_main">
        <div class="registration_new_field_main_title">
          <label>代理店コード</label>
        </div>
        <div class="registration_new_field_main_enter">
          <%= @user.agency_code %>
        </div>
      </div>

    </div>

    <div class="module-spacer--medium"></div>

    <div class="registration_new_field">

      <div class="registration_new_field_main">
        <div class="registration_new_field_main_title">
          <label>商品お届け先郵便番号</label>
          <span>必須</span>
        </div>
        <div class="registration_new_field_main_enter">
          <%= @user.postal_code %>
        </div>
      </div>

    </div>

    <div class="module-spacer--medium"></div>

    <div class="registration_new_field">

      <div class="registration_new_field_main">
        <div class="registration_new_field_main_title">
          <label>商品お届け先住所</label>
          <span>必須</span>
        </div>
        <div class="registration_new_field_main_enter">
          <%= @user.address %>
        </div>
      </div>

    </div>

    <div class="module-spacer--medium"></div>

    <div class="registration_new_field">

      <div class="registration_new_field_main">
        <div class="registration_new_field_main_title">
          <label>電話番号</label>
          <span>必須</span>
        </div>
        <div class="registration_new_field_main_enter">
          <%= @user.phone_number %>
        </div>
      </div>

    </div>

    <div class="module-spacer--medium"></div>

    <div class="registration_new_field">

      <div class="registration_new_field_main">
        <div class="registration_new_field_main_title">
          <label>メールアドレス</label>
          <span>必須</span>
        </div>
        <div class="registration_new_field_main_enter">
          <%= @user.email %>
        </div>
      </div>

    </div>

    <div class="module-spacer--medium"></div>

    <div class="registration_new_field">

      <div class="registration_new_field_main">
        <div class="registration_new_field_main_title">
          <label>パスワード</label>
          <span>必須</span>
        </div>
        <div class="registration_new_field_main_enter">
          <%= @password %>
        </div>
      </div>

    </div>

    <div class="module-spacer--medium"></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'registration_new_fields') do |f| %>
      <%= f.hidden_field :human_name %>
      <%= f.hidden_field :agency_code %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :phone_number %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :password %>
      <%= f.hidden_field :password_confirmation %>
      <div class="registration_new_field_button">
        <%= f.submit "登録する" %>
        <div class="module-spacer--medium"></div>
        <%= f.submit "入力画面に戻る", name: :back, class:"registration_new_field_button_back" %>
      </div>
    <% end %>

  </div>

</div>

<%= render partial: 'shared/footer' %>